.text-1 
{
font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 30px;
font-style: italic;
}
.text-2 
{
text-decoration-line: line-through;
}
.text-3
{
    text-align: center;
    text-transform: uppercase;
}
.text-4
{
    color:rgb(114, 70, 156) ;
    word-spacing: 30px;
    text-decoration: overline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(114, 70, 156);
}
.text-5
{
    letter-spacing: 5px;
    text-decoration: double; 
    text-decoration-line: underline;
}
.text-6 
{
    color: rgb(71, 64, 177);
    text-transform: capitalize;
    text-decoration: dotted;
    text-decoration-line: overline;
    text-decoration-color: rgb(225, 12, 12);
}
.text-7
{

    text-decoration: dashed;
    text-decoration-line: underline;
    text-decoration-color: rgb(42, 165, 83);
    font-weight: 600;
    font-style: italic;
}
    