.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article__title-medium {
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article__text:last-child {
    margin-bottom: 0;
}

.article-mb {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 40px;
}

.article-decor-wrapper {
    position: relative;
}


.article-decor-wrapper-1::before {
    left: 0;
    top: 100px;
}

.article-decor-wrapper-2::before {
    right:0;
    bottom: 136px;
}

.article__img-gym {
    width: 100%;
}

.article__list {
    margin-top: 0;
    padding-left: 16px;
}

.article__item:not(:last-child) {
    margin-bottom: 12px;
}

.article__item::marker {
    color: #3596ed;
    font-size: 22px;
}

.article__play-button {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-color: #3596ed;
    padding: 0;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.article__play-button:hover {
    background-color: #39a2ff;
}

.article__play-button:active {
    background-color: #2871b1;
}

/* -------- */
@media (width<=768px) {
    .article-mb {
        margin-bottom: 60 px;
    }

    .article-decor-wrapper::before {
        display: none;
    }

    .article__title-medium {
        font-size: 28px;
    }
}

@media (width<=576px) {
    .article {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .title-large {
        font-size: 32px;
    }
    .article__title-medium {
    font-size: 28px;
}

    .article-mb {
        margin-bottom: 40px;
    }

    .article-mb-2 {
        margin-bottom: 30px;
    }
    .article__play-button{
        width: 50px;
        height: 50px;
    }
    .article__play-button img{
        width: auto;
        height: auto;
    }
}