.faq-section {
    background-color: var(--bg-color);
}

.faq-section h2 {
    margin-bottom: 50px;
}

@media (width<=768px) {
    .faq-section h2 {
        margin-bottom: 40px;
    }
}

@media (width<=586px) {
    .faq-section h2 {
        margin-bottom: 38px;
    }

    .faq-section-title-none span {
        display: none;
    }
}

.faq__details-wrapper {
    margin: 0;

    /* display: block;
    width: 100%; */
}

.faq__details-title {
    position: relative;
    padding: 34px 50px 34px 0;
    border-bottom: 1px solid var(--second-color);
    border-top: 1px solid var(--second-color);
    color: var(--main-color-2);
    cursor: pointer;
    list-style: none;
}

@media (width<=768px) {
    .faq__details-title {
        padding: 18px 34px 18px 0;
        font-size: 16px;
    }
}

@media (width<=586px) {
    .faq__details-title {
        padding: 16px 32px 16px 0;
        font-size: 13px;
    }
}

.faq__details-wrapper[open] .faq__details-title {
    border-bottom: none;
}

.faq__details-title::-webkit-details-marker {
    display: none;
}

.faq__details-title::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 38px;
    height: 38px;

    background-color: currentColor;
    -webkit-mask-image: url(../../icons/fiq-plus.svg);
    mask-image: url(../../icons/fiq-plus.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;

    transition: transform var(--transition-time), background-color var(--transition-time);
}

@media (width<=992px) {
    .faq__details-title::after {
        width: 36px;
        height: 36px;
    }
}

@media (width<=768px) {
    .faq__details-title::after {
        width: 26px;
        height: 26px;
    }
}

.faq__details-wrapper[open] .faq__details-title::after {
    transform: translateY(-50%) rotate(45deg);
    background-color: var(--accent-color);
}

.faq__details-description {
    padding: 50px 0 50px;
    border-bottom: 1px solid var(--second-color);
}

@media (width<=768px) {
    .faq__details-description {
        padding: 34px 0 34px;
    }
}

@media (width<=586px) {
    .faq__details-description {
        padding: 32px 0 32px;
    }
}

.faq__details-description p {
    max-width: 908px;
}

.faq__details-wrapper summary {
    list-style: none;
    cursor: pointer;
}

.faq__details-wrapper summary::-webkit-details-marker {
    display: none;
}