.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 6px;
    z-index: 100;
    background-color: var(--main-color-2);
}


.header--fixed {
    overflow-y: hidden;
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: clamp(2.938rem, 2.252rem + 2.81vw, 5.625rem);

}
@media (width<=992px) {
    .header__container {
        padding: 0 55px 0;
    }
}
@media (width<=568px) {
    .header__container {
        padding: 0 20px 0;
    }
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width>1420px) {

    .header__container,
    .header__items {
        gap: 50px;
    }
}

@media (width<=1420px) {

    .header__container,
    .header__items {
        gap: 20px;
    }

    .logo__img {
        width: 142px;
        height: 60px;
    }
}

@media (width<=992px) {
    .header__container {
        justify-content: space-between;
    }

}


@media (width <=992px) {

    .header__menu {
        display: none;
    }

    .header__menu--open {
        display: block;


    }
}

@media (width<=992px) {
    .header__menu {
        position: fixed;
        left: -100vw;
        /* меню уходит вправо */
        top: 0;
        bottom: 0;
        min-width: 297px;
        z-index: -1;
        background-color: var(--main-color-2);
        padding: 144px 15px 20px 0;
        overflow-y: auto;

        opacity: 0;
        
        visibility: hidden;
        transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
    }

    .header__menu--open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu .menu__list {
        flex-direction: column;
        align-items: center;
        text-align: end;
    }
}


/* burger */
.header__button-ikon-burger {
    display: block;
}

.header__button-ikon-cross {
    display: none;
}

.header__button--open .header__button-ikon-burger {
    display: none;
}

.header__button--open .header__button-ikon-cross {
    display: block ;
}


.page-body--no-scroll {
    overflow: hidden;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    white-space: nowrap;
    
}

@media (width>1420px) {
    .menu__list {
        gap: 30px;
    }
}

@media (width<=1420px) {
    .menu__list {
        gap: 20px;
    }
}

@media (width<=768px) {
    .menu__list {
        gap: 40px;
    }
}

@media (width<=768px) {
    
    .burger-ikon {
        width: 38px;
        height: 38px;
    }

    .header-cart {
        width: 28px;
        height: 28px;
    }

    .header__items {
        gap: 40px;
    }
}

@media (width<=450px) {

    .burger-ikon {
        width: 30px;
        height: 30px;
    }

    .header-cart {
        width: 24px;
        height: 24px;
    }

    .header__items {
        gap: 25px;
    }

    .logo__img {
        width: 94px;
        height: 39px;
    }
}

.menu__link {
    font-family: 'NAMU';
    font-weight: 900;
    font-size: 20px;
    color: var(--main-color);
    transition: color var(--transition-time);
}

@media (width<=1420px) {
    .menu__link {
        font-size: 16px;
    }
}

@media (width<=1200px) {
    .menu__link {
        font-size: 14px;
    }
}


@media (any-hover: hover) {
    .menu__link:hover {
        color: var(--accent-color);
    }
}

.header__button {
    color: var(--main-color);
}


.header__button-ikon-burger {
    stroke: currentColor;
}
.header-cart {
    stroke: currentColor;
}


@media (any-hover: hover) {
    .header__button:hover {
        color: var(--accent-color);
    }
}

@media (width<=390px) {
    .header__cart-ikon {
        position: relative;
        display: inline-block;
    }

    .header__cart-ikon::before {
        content: '1';
        position: absolute;
        top: 9px;
        right: -12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 9px;
        color: var(--main-color-2);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);

        border-radius: 50%;
        width: 13px;
        height: 13px;

    }
}