.special {
    background: #f8f8f8
}

.sort-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 57px 0 40px;
}

/* может сюда его */

@media (width<=1920px) {
    .sort-container {
        margin: 30px 0 30px;
    }
}

.sort-select {
    position: relative;
    border: 1px solid #c5358c;
    border-radius: 3px;
    padding: 7px 25px;

    cursor: pointer;
}

@media (width<=1500px) {
    .sort-select {
        padding: 6px 20px;
    }
}

@media (width<=1500px) {
    .sort-select {
        padding: 6px 15px;
    }
}

.sort-select-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--main-color-2);
    transition: color var(--transition-time);
}

@media (width<=992px) {
    .sort-select-wrapper {
        font-size: 12px;
    }
}

.sort-select-arrow-ikon {
    fill: currentColor;
    margin-left: 25px;
    transition: color var(--transition-time), fill var(--transition-time), transform var(--transition-time);
}


.sort-list {
    position: absolute;
    transform: translate(-29px, 23px);
    border-radius: 3px 3px 0 0;
    white-space: nowrap;
    z-index: 10;
    display: none;
}



.sort-list.show {
    display: block;
}

/* .sort-list li:first-child{
    border-top:none;
} */

.sort-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #ccc;
    background-color: var(--main-color);
    width: 273px;
    gap: 15px;
    padding: 7px 25px;
    cursor: pointer;
    color: #333;
    transition: border var(--transition-time), border-radius var(--transition-time), color var(--transition-time);
}

/* check-icon */

.sort-check-icon {
    margin-left: auto;
    display: none;
}

.sort-item.selected .sort-check-icon {
    display: block;
}

.sort-item:hover .sort-check-icon {
    display: block;
}



@media (any-hover: hover) {
    .sort-item:hover {
        border: 1px solid #c5358c;
        border-radius: 3px;
    }

    .sort-item:hover {
        color: var(--accent-color);
    }

    .sort-select-wrapper:hover {
        color: var(--accent-color);

    }

    .sort-select-wrapper:hover .sort-select-arrow-ikon {
        fill: var(--accent-color);
        transform: rotate(180deg);
    }
}

/* -------- */




.product__slider .swiper-slide {
    width: auto;
    min-width: 350px;

    display: grid;
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    gap: 20px;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

@media (width<=786px) {
    .product__slider .swiper-slide {
        gap: 10px;
    }
}

@media (width<=680px) {
    .product__slider .swiper-slide {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
    }
}

.special__products-card {
    display: flex;
    flex-direction: column;

    background: var(--main-color);
    border-radius: 3px;
    overflow: hidden;
    align-self: stretch;
    height: auto;
}

.product-image {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.product-card-description {
    height: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

@media (width<=1920px) {
    .product-card-description {
        /* w 768,1920 */
        padding: clamp(10px, -0.625rem + 2.6vw, 40px);
    }
}



.product-card-title {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 300;
    /* w 390,1920 */
    font-size: clamp(10px, 0.402rem + 0.92vw, 24px);
    color: var(--main-color-2);
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.availability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 15px;
}

@media (width<=1920px) {
    .availability {
        margin: 11px 0 11px;
    }
}

.availability-text {
    display: inline-flex;
    align-items: center;
    color: #68AE5C;
    /* w 390,1920 */
    font-size: clamp(10px, 0.498rem + 0.52vw, 18px);
}

.availability-text::before {
    content: '';
    width: 10px;
    height: 10px;
    -webkit-mask-image: url(../../icons/green-dot.svg);
    mask-image: url(../../icons/green-dot.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: currentColor;
    margin-right: 8px;
}

@media (width<=992px) {
    .availability-text::before {
        width: 8px;
        height: 8px;
    }
}


.discount-badge {
    background-color: var(--accent-color);
    color: var(--main-color);
    border-radius: 3px;
    padding: 7.5px 28.5px;
    text-align: center;
    /* w390,1920 */
    font-size: clamp(15px, 0.794rem + 0.59vw, 24px);
}

@media (width<=992px) {
    .discount-badge {
        padding: 0 10px;
    }
}

@media (width<=1500px) {
    .discount-badge {
        padding: 3px 15px;
    }
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
    white-space: nowrap;
}

@media (width<=1920px) {
    .price-container {
        /* w586,1920 */
        gap: clamp(7px, -1.402rem + 5.02vw, 74px);
    }
}



.current-price {
    /* w390,1920 */
    font-size: clamp(17px, 0.664rem + 1.63vw, 42px);
}

@media (width<=786px) {
    .current-price {
        font-size: 20px;
    }
}


.old-price {
    text-decoration: line-through;
    color: var(--second-color);
    /* w390,1920 */
    font-size: clamp(12px, 0.559rem + 0.78vw, 24px);
}

@media (width<=786px) {
    .old-price {
        font-size: 12px;
    }
}


.quantity-control {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: clamp(1rem, 0.466rem + 0.86vw, 1.5rem);
    max-height: 64px;

    width: 100%;
}

.qty-btn-one,
.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    border-radius: 3px;
    flex: 1 1 0%;
    height: 100%;
    padding: 1.5rem 1rem;
    min-height: 36px;
}

@media (width<=1920px) {

    .qty-btn-one,
    .add-to-cart-btn {
        padding: 0.5rem 1rem;
    }
}

.qty-btn-one {
    display: flex;
    justify-content: space-around;

}

@media (width<=992px) {
    .qty-btn-one {
        display: none;
    }

}

.add-to-cart-btn {
    background-color: var(--main-color-2);
    color: var(--main-color);
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-time);
}

@media (width<=992px) {
    .add-to-cart-btn {
        padding: 0.5rem 1rem;
        flex: 1;
    }

}

.qty-btn-one .qty-btn {
    border: none;
    cursor: pointer;
    background: transparent;
}

.qty-btn-one .qty-input {
    width: 3rem;
    text-align: center;
    border: none;
    outline: none;
}

@media (width<=1920px) {
    .qty-btn-plus {
        width: 15px;
        height: 15px;
    }

    .qty-btn-minus {
        width: 15px;
        height: 15px;
    }

}






@media (any-hover: hover) {
    .add-to-cart-btn:hover {
        background-color: var(--accent-color);
    }
}

/* slider */
.special__products-slider-button {
    margin-top: 130px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.slider-arrow {
    display: inline-flex;
    gap: 20px;
    border: 1px solid var(--main-color-2);
    border-radius: 3px;
    padding: 14px;
    cursor: pointer;
    color: var(--main-color-2);
    transition: color var(--transition-time), border var(--transition-time);
}

@media (width<=768px) {
    .slider-arrow {
        padding: 3px;
        gap: 10px;
    }
}

.slider-arrow svg {
    width: 35px;
    height: 35px;
    fill: currentColor;
    cursor: pointer;
}

@media (width<=768px) {
    .slider-arrow svg {
        transform: scale(0.7);
    }
}

@media (width<=768px) {
    .special__products-slider-text {
        font-size: 16px;
    }
}


@media (any-hover: hover) {
    .slider-arrow:hover {
        fill: var(--accent-color);
        border: var(--accent-color);
    }
}

@media (any-hover: hover) {
    .slider-arrow:hover {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}