table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Arial, serif;


}

td,
th,
caption {
    border: 1px solid #0c0c0c;
    padding: 8px;
}

caption {
    font-size: 24px;
    border-bottom: none;
    font-weight: bold;
}

.week-day {
    font-weight: bold;
    color: rgb(12, 12, 12);
}
.weekend {
    color: rgb(208, 15, 15);
}


tr> :nth-child(6),
tr> :nth-child(7) {
    color: rgb(208, 15, 15);
}