
:root {
    --wite-text: #F8FCFF;
    --acent-text: #1d6fb6 ;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: calc(20 / 16);
    color: #25282B;
    background: var(--wite-text);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    /* max-width 1200px+ padding 15+15 */
}


/* ---------------------------- */

.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;

}


.nav__list {
    display: flex;
    gap: 10px 15px;
    flex-wrap: wrap;
}

.social {
    display: flex;
    gap: 10px 15px;
    flex-wrap: wrap;
    justify-content: end;
}

/* ------------------- */
.hero {
    position: relative;
    padding: 120px 0;
    line-height: 1.5;
    color: var(--wite-text);

}

.container {}

.hero_title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.5;


}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;

}

.hero__list-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;

}

.hero__list-item:last-child {
    margin-bottom: 0;
    transition: all .5s;
}

.hero__list-item:hover {
    color: var(--acent-text);
}

.hero__list-item:hover path {
    fill: var(--acent-text);
}

.hero__list-item path {
    transition: .5s;
}

/* чтобы перекрасить векторное изображение svg обращаемся к его род и тегу в нем
используем всесто color fill */


.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    /* obgect-fit cover исп для видео чтобы растянуть, z-index чтобы поместить на задний план */
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #102e49cc;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--acent-text);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20 / 16);

    max-width: 288px;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background: #d0dce7;
    transition: .5s;
}

.button:hover {
    background: #83add3;
    color: var(--wite-text);
}

/* ------------------------------- */

.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    align-items: start; 
    justify-content: space-between;
    gap: 30px;
    /* gap меньше чем нужно чтобыпри уменьшении экрана не было большого отступа */
    
}
.main__sidebar {
    position: sticky;
    top: 5vh;
}

.main__body {
    width: 100%;
    max-width: 792px;
}

.main__gallery {
    margin-bottom: 120px;
}

.sidebar {
    max-width: 282px;
    font-weight: 500;
    width: 100%;
    padding: 30px;
    border: 2px solid #d0dce7;
    min-height: 60vh;
}


.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 20px;
}

/* -------------- */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
    font-weight: 500;
    color: var(--wite-text);
}

.gallery__img {
    position: relative;
    display: block;
    overflow: hidden;
    /* скрываем текст чтобы при наведении его не было видно изначально
     */
    padding-bottom: 100%;
    /* изображения всегда будут квадратными */
}

.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* выс и шир в 100% чтобы изобр */
    object-fit: cover;
    object-position: 50% 50%;


}

.gallery__img--big-left {
    grid-column: 1 / 3;
    grid-row: span 2;

}

.gallery__img--big-right {
    grid-column: -1 / -3;
    grid-row: span 2;
}


.gallery__hint {
    position: absolute;
    background: #1d6fb6b3;
    left: 0;
    right: 0;
    bottom: 0;
    height: 53px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    /* высота в 100 по оси y в значит 53px которые мы задали у элемента */
    transition: all .5s;
    opacity: 0;
    /* когда наводимся подсказка прозрачная */
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    /* ставим 0% чтобы элемент появился */
    opacity: 1;

}

.gallery__img--big-left .gallery__hint,
.gallery__img--big-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* ------------------ */
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* выс и шир в 100% чтобы изобр */
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    top: 12.6%;
    left: 0;
    border-radius: 0px 100px 100px 0px;
    background: var(--wite-text);
    padding: 18px 15px;
    min-width: 33.9%;
    text-align: center;

    color: var(--acent-text);
    font-weight: 500;

    animation: badge-action 2s infinite alternate;
    /* чтобы анимация заработала */
}

@keyframes badge-action {
    0% {
        min-width: 33.9%;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.3%;
    }
}

.products__item-body {
    border: 1px solid #d0dce7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
    /* расположение кнопки посередине */
}
/* ------- */
.footer {
    background: #788088;
    color: var(--wite-text);
    text-align: center;
    padding: 30px 0;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}