@media (width>768px) {
    .burger {
        display: none;
    }

}

@media (width<=768px) {
    .burger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        z-index: var(--layer-3);
    }

    .burger__ikon-menu,
    .burger--open .burger__ikon-cross {
        display: block;
    }

    .burger__ikon-cross,
    .burger--open .burger__ikon-menu {
        display: none;
    }

}