@media (width>576px) {
    .air-mag {
        padding-bottom: 93px;
    }
    .air__mag-title {
        margin-bottom: 10px;
    }
}

@media (width<=576px) {
    .air-mag {
        padding-bottom: 80px;
    }
    .air__mag-title {
        margin-bottom: 13px;
    }
    
}

.air__mag-description {
    display: flex;
    gap: 13px;
}

@media (width>768px) {
    .air__mag-description {
        margin-bottom: 20px;
    }
}

@media (width<=768px) {
    .air__mag-description {
        flex-direction: column;
        margin-bottom: 15px;
    }
}

.air__mag-description::before {
    flex-shrink: 0;
    /* чтобы элемент не обрезался */

    content: '';
    display: block;
    width: 131px;
    height: 40px;
    background-image: url(../../img/rectangle-decor-ikon.svg);
    transform: translateX(-13px);
    /* смещаем влево */
}


.air-mag__info-wrapper {
    display: flex;

}

@media (width>992px) {
    .air-mag__info-wrapper {
        gap: 40px;
    }
}

@media (width<=992px) {
    .air-mag__info-wrapper {
        flex-direction: column;
    }
}

.air-mag__info-list {
    display: flex;
    flex-direction: column;
}

@media (width>992px) {
    .air-mag__info-list {
        transform: translateY(71px);
        gap: 40px;
        /* опускаем текст вниз */
        flex-shrink: 0;
        max-width: 293px;
    }
}

@media (width<=992px) {
    .air-mag__info-list {
        gap: 20px;
        max-width: 700px;
    }
}

.air-mag__info-img {
    width: 100%;
}

.air-mag__list-item::before {
    content: "";
    display: block;
    background-image: url(../../icons/check-box-ikon.svg);
    width: 45px;
    height: 33px;
    margin-bottom: 5px;
    transform: translateX(-10px);
}