.form-section {
    background-color: var(--bg-color);
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* w1920-768 */
    gap: 136px;
    width: 100%;

    box-sizing: border-box;
     align-items: stretch; 
}

@media (width<=1920px) {
    .form__container {
        gap: 50px;
    }
}
@media (width<=992px) {
    .form__container {
        gap: 20px;
    }
}
@media (width<768px) {
    .form__container {
        flex-wrap: wrap;
        
    }
}

.form__contact__container,
.form__subscribe__container {
    display: flex;
    flex-direction: column;
   
    min-width: 351px;
    max-width: 555px;
    flex: 1;


     min-height: 244px;
    justify-content: flex-start;

}

.form__title {
    margin-bottom: 50px;
    white-space: nowrap;
}

@media (width<=1920px) {
    .form__title {
        font-size: 32px;
    }
}

@media (width<=992px) {
    .form__title {
        font-size: 26px;
        margin-bottom: 10px;
    }
}
@media (width<=768px) {
    .form__title {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.form__contact {
    border: none;
    padding: 0;
    margin: 0;
}

.form__label {
    display: block;
    width: 100%;
}

.input-border-wrapper {
    position: relative;
    padding-top: 30px;
}

@media (width<=768px) {
    .input-border-wrapper {
        padding-top: 20px;
    }
}

@media (width<=586px) {
    .input-border-wrapper {
        padding-top: 14px;
    }
}

.form__input {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    width: 100%;
    color: var(--second-color);
    margin-bottom: 15px;
}

@media (width<=768px) {
    .form__input {
        margin-bottom: 6px;
        font-size: 12px;
    }
}

.input-line {
    width: 100%;
    height: 1px;
    display: block;
    height: 1px;
}

@media (width<=768px) {
    .input-line {}
}

@media (width<=586px) {
    .input-line {
        width: 351px;
    }
}

.form__button {
    font-weight: 400;
    font-size: 24px;
    background-color: var(--main-color-2);
    color: var(--main-color);
    padding: 16px 42px;
    border-radius: 3px;
    /* w1920-786 */
    margin-top: 70px;
    transition: background-color var(--transition-time);
    /* margin-bottom: auto; */
}

@media (width<=992px) {
    .form__button {
        font-size: 16px;
        padding: 7px 26px;
        margin-top: 40px;
    }
}

@media (width<=586px) {
    .form__button {
        margin-top: 36px;
        font-size: 15px;
        padding: 8px 25px;
    }
}

@media (any-hover: hover) {
    .form__button:hover {
        background-color: var(--accent-color);
    }
}

.form__label-checkbox {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    line-height: 120%;
}

@media (width<=992px) {
    .form__label-checkbox {
        font-size: 14px;
        gap: 10px;
    }
}

@media (width<=768px) {
    .form__label-checkbox {
        font-size: 10px;
    }
}

.form__checkbox {
    color: var(--main-color-2);
    appearance: none;

    border: 1px solid var(--main-color-2);
    border-radius: 3px;
    width: 30px;
    height: 30px;

    position: relative;
    cursor: pointer;
    background-color: transparent;
    flex-shrink: 0;
}

@media (width<=992px) {
    .form__checkbox {
        width: 25px;
        height: 25px;
    }
}
@media (width<=768px) {
    .form__checkbox {
        width: 19px;
        height: 19px;
    }
}



.form__checkbox:checked {
    background-color: var(--main-color);
    background-image: url("../../icons/form-check-box.svg");
    background-repeat: no-repeat;
    background-position: center;
}