.special-offers__title {
    margin-bottom: 50px;
    line-height: 110%;
}

.special-offers__title span {
    line-height: 110%;
    color: var(--accent-color);
}

@media (width<=992px) {
    .special-offers__title {
        font-size: 30px;
    }
}

@media (width<=768px) {
    .special-offers__title {
        font-size: 20px;
    }

    .special-offers-item,
    .sort-select-wrapper {
        font-size: 12px;
    }
}

.special-offers__items {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}



.special-offers-item {
    border: 1px solid var(--main-color-2);
    border-radius: 31px;
    padding: 6px 20px;
    max-height: 38px;
    cursor: pointer;
    color: var(--main-color-2);
    transition: color var(--transition-time), border-color var(--transition-time);
}
    .special-offers__items button:nth-child(n+5):nth-child(-n+14) {
        display: none;
    }

@media (width<=1920px) {
    .special-offers__items button:nth-child(1) {
        display: none;
    }

@media (any-hover: hover) {
    .special-offers-item:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}




    .special-offers-item,
    .special-offers-more-button,
    .sort-select-wrapper,
    .sort-item {
        font-size: 14px;
    }
}

@media (width<=1200px) {
    .special-offers__items {

        gap: 8px;
        font-size: 12px;

    }

    .special-offers-item {
        padding: 5px 12px;
        font-size: 12px;
    }

    .special-offers-more-button {
        font-size: 12px;

    }
}

.special-offers-more-button {
    position: absolute;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);

}

@media (width>=586px) {
    .special-offers-more-button {
        --offset: clamp(15px, calc(3.92vw + 0.3px), 75px);
        transform: translateY(calc(-1 * var(--offset)));
        transition: transform 0.3s;
    }
}

@media (width<=586px) {
    .special-offers-more-button {
        --offset: clamp(-70px, calc(-50px + (-20px * ((100vw - 390px) / 1530px))), -50px);
        transform: translateY(var(--offset));
        transition: transform 0.3s;
    }
}